<template>
  <v-app id="inspire" dark>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <FormInsideCard></FormInsideCard>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer app fixed>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  import FormInsideCard from './FormInsideCard.vue'
  export default {
    data: () => ({
      drawer: null
    }),
    props: {
      source: String
    },
    components: {
      FormInsideCard
    }
  }
</script>
