<!DOCTYPE html>
<html>
  <head>
    <title>ComparacaoGenerica</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'vue' %>
  </head>

  <body>
    <div id="vue">
      <%= yield %>
    </div>
  </body>
</html>
